.logo-div {
    display: flex;
    position: absolute;
    left: 44vw;
    top: 3vh;
    user-select: none;
}
.logo-text {
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 3vw;
}
.logo-image {
    width: 5vw;
}
.main-page {
    margin-top: 20vh;
}
.canvas {
    max-width: 50%;
}
.video {
    max-width: 50%;
}
.default-button {
    padding: 25px;
    background: #303030;
    border-radius: 10px;
}
.default-button:hover {
    cursor: pointer;
}
/* MOBILE COMPATIBILITY */
@media (width < 668px) {
    .logo-div {
        display: flex;
        position: absolute;
        left: 37vw;
    }
    .logo-image {
        width: 12vw;
    }

    .logo-text {
        font-size: 8vw;
    }
    .main-page {
        margin-top: 14vh;
    }
}